<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>

    <!--    bootstrap-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body style="background-color: #e7e7e7">
<!--<h1>Zarejestruj się</h1>-->
<form id="sign-up-go-to-welcome-button" th:action="@{/welcome-page}" method="get" class="d-inline-block" style="float: right">
    <input type="button" onclick="submit()" class="btn btn-light" value="wróc do strony głownej"/>
</form>
<div class="container" >
    <form th:action="@{/register}" method="post" class="form-signin">
            <h2 class="form-signin-heading">Dodaj konto</h2>
        <p></p>
            <label for="username" class="sr-only">Nazwa Uzytkownika</label>
            <input id="username" type="text" class="form-control" required="" autofocus=""
                   name="username" placeholder="Nazwa uzytkownika">

        <p></p>
        <label for="password" class="sr-only">Haslo</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Haslo" required="">
        <p></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">zarejestruj</button>
            <p></p>
        <h5 class="form-signin-heading">lub jeżeli masz już konto,
            <a href="#" th:href="@{/login}">zaloguj się!</a></h5>
    </form>
</div>




</body>
</html>